
#page-wrapper input[type="text"],
#page-wrapper input[type="number"], 
textarea, 
textarea.form-control {
	height: 2.5em;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #f8f8f8;
    border: 3px solid #A2A2A2;
    font-family: 'Roboto', sans-serif;
    font-size: 1.0em;
    font-weight: 300;
    /*line-height: 45px;*/
    color: black;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

textarea, 
textarea.form-control {
	padding-top: 3px;
    /*height: 90px;*/
	padding-bottom: 10px;
	line-height: 1em;
    height: 4em;
}

#page-wrapper input[type="text"]:focus, 
textarea:focus, 
textarea.form-control:focus {
	outline: 0;
	background: #fff;
    border: 3px solid #19b9e7;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

#page-wrapper button.btn {
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #19b9e7;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

#page-wrapper button.btn:hover { opacity: 0.6; color: #fff; }

#page-wrapper button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

#page-wrapper button.btn:focus { outline: 0; opacity: 0.6; background: #19b9e7; color: #fff; }

#page-wrapper button.btn:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; background: #19b9e7; color: #fff; }
