body {
	background-image: url(../img/index2.png);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Roboto', sans-serif;
    color: #555;
	}
.container {
    margin-top: 0px;
    width:100%;
    padding-top: 30px;
    padding-bottom: 30px;
   
}
#page a{
	color: #6F6F6F;
}
#header {
	background-color: white;
}
#page h2 {
    font-weight: 600;
}
#login{
	background-color: #39a4f9;
}
#login:hover{
	background-color: #2792e7;
}
#lfooter {
		text-align: center;
		font-family: Times New Roman;
		position: relative;
		/*height: 5em;*/
		line-height: 5em;
		width: 100%；
		margin: 0;
		color: black;
		overflow: hidden;
		
	}
#resign {
	margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100; 
}
#resign .form-group  {
      padding-top: 15px;
      padding-bottom:15px;
      text-align: right; 
      
}
#resign  .form-group label {
	font-family: 'Roboto', sans-serif;
    font-weight: 550; 
    color: #555;
}
#resign input[type="submit"]{
	margin-top: 20px;
}
.modal-title {
	font-family: 'Roboto', sans-serif;
    font-weight: 600; 
    color: #555;
}
