#top{
	/*background-color: #bacaca;*/
	background-color:#fafafb;
	border-bottom-width: 1.0em;
	border-bottom-color: orange;
	margin-bottom: 0;
}
#top p {
	font-size: 1.8em;
	color:orange;
	font-family: "微软雅黑";
}
 a:hover, a:focus {
	color: orange;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
/*form input[type="submit"].input[type="button"] {
	position: relative;
	padding-left:50%;
	
}*/
#side-menu {
	font-size: 1.5em;
	border-top-width: 1.0em;
	margin-top: 4.0em;
	/*background-color: white;*/
	border-color: orange;
}
#page-wrapper{
	/*background-color: #e5ecec;*/
	/*background-image: url(../img/user2.png);*/
	/*background-size: cover;*/
	background-color: white;
}

table{
	background-color: #eae7e7;
	border:solid 2px green; 
}
th{
	background-color: #7b8b8a;
	color:black;
	font-size: 1.3em;
}
table,thead,tbody,th,td,tr{
	border:solid 2px #ccc3c3;
}
th,td {
	text-align:center;
}

#page-wrapper input[type="submit"],input[type="button"]  {
         margin-left: 100px;
        -moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		/*background-color: #98c593;*/
		border: 0;
		border-radius: 3.5em;
		color: white;
		cursor: pointer;
		display: inline-block;
		height: 2.1em;
		line-height: 2.0em;
		outline: 0;
		padding: 0 1.4em 0 1.4em;
		position: relative;
		text-align: center;
		text-decoration: none;
		/*margin-left: 45%;*/
		/*margin-bottom: 15px;*/
		/*margin-top: 10px;*/
		font-size:1.1em;
		display: inline;
}
#page-wrapper input[type="submit"] {
		/*margin-left:55%;*/
}

#page-wrapper .edit {
	background-color:#449f4f;
}
#page-wrapper .edit:hover{
  background-color:#98c593 ;
}
#page-wrapper .save {
	background-color:#449f4f;
}
#page-wrapper .save:hover{
  background-color: #98c593;
  color: black;
}
#page-wrapper .cancel {
	background-color:#9f989a;
}
#page-wrapper .cancel:hover{
  background-color:#babebf;
  color: black;
}
.page-header{
	color:black;
	font-family: £»
	font-weight:bold;
	border-bottom-style: double;
	border-bottom-width: 0.2em;
	border-bottom-color: #bacaca; 
}
#page-wrapper h1{
	color:black;
	font-family: "ËÎÌå";
	font-weight:bold;
}
#page-wrapper hr{
	color: #bacaca;
}

hr {
	color: #bacaca;
	background-color: #bacaca;
	border-top:1px solid #bacaca;
	align: left;
}
/*分步订单*/
#wizard {
	/*border:5px solid #789;*/
	font-size:1.1em;
	height:400px;
	margin:auto;
	width:90%;
	overflow:hidden;
	position:relative;
	/*-moz-border-radius:5px;
	-webkit-border-radius:5px;*/}
#wizard .items{
	width:2000px; 
	clear:both; 
	position:absolute;}
/*#wizard .right{
	float:right;
}*/
#wizard #status{
	list-style: none;
	height:40px;
	width: 700px;
	background:white;
	padding-left:25px !important;}
#status li{
	float:left;
	color:black;
	padding:10px 30px;}
#status li.active{
	background-color:orange;
	font-weight:bolder;}
.input{
	width:240px; 
	height:18px; 
	margin:10px auto; 
	line-height:20px; 
	border:1px solid #d3d3d3; 
	padding:2px;}
.page{
	padding:20px 30px;
	width:1000px;
	height: 400px;
	float:left;
margin-left:5%;}
.page p{
	line-height:24px;}
.page p label{
	font-size:1.5em; 
	display:inline;}
.btn_nav{
	height:30px; 
	line-height:36px; 
	margin:20px auto;
	margin-left: 20%;
}
.prev,.next{
	width:100px; 
/*	height:30px; 
	line-height:36px; */
	/*background:url(btn_bg.gif) repeat-x bottom; */
	/*border:1px solid #d3d3d3; */
	background-color: red;
	border-radius:5px;
	cursor:pointer;}